header{
  position: sticky;
  top: 0;
  height: 50px;
  box-shadow: 0 4px 13px -7px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: center;
  background-color: $white;
  z-index: 5;
  .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .user{
    font-size: 0.8em;
    padding: 0.8rem;
  }
  .exit{
    margin-left: 10px;
    color: $blue;
    cursor: pointer;
  }
  .logo{
    display: block;
    height: 40px;
    width: auto;
    margin-right: auto;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .menu-nav{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    li{
      list-style-type: none;
      display: flex;
      align-items: stretch;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #111111;
        text-decoration: none;
        font-size: 18px;
        padding: 0 1rem;
        box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.07);
        transition: all 0.5s;
        &:hover{
          box-shadow: 0px 7px 6px -4px rgba(34, 60, 80, 0.1) inset;
          background-color: rgba(34, 60, 80, 0.02);
        }
      }
      &:last-child a{
        border-right: none;
      }
    }

  }
  @media (max-width: 767px) {
    .container{
      flex-direction: column;
      justify-content: center;
    }
    .logo{
      margin: 0 0 0.5rem;
    }
    .menu-nav{
      width: 100%;
      li{
        width: 100%;
        a{
          width: 100%;
        }
      }
    }
    height: auto;
  }
}

main{
  flex: 1;
}

footer{
  margin-top: auto;
  border-top: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
.footer__links{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    margin: auto 5px;
    cursor: pointer;
  }
}
.footer__copyrights{
  font-size: 0.8em;
  margin-top: 10px;
}
